@import '../var/colors';

@function shadow($color, $px1, $px2: '') {
  @if ($px2 == '') {
    @return inset $px1*1px $px1*1px 0px $color;
  }
  @else {
    @return inset $px1*1px $px2*1px 0px $color;
  }
}

@function dualShadow($color1, $color2, $px: 1) {
  @return shadow($color2, -$px), shadow($color1, $px);
}
