@import '../../_scss/w98/var/colors';
@import '../../_scss/w98/mixins/box-shadows';
@import '../../_scss/w98/functions/box-shadows';
@import '../../_scss/w98/var/var';
@import '../../_scss/w98/var/uris';

@mixin select-hover {
  outline: 1px dotted white;
  outline-offset: -1px;
  background-color: $blue;
  color: white;
}

.w98 {
  select[multiple] {
    position: relative;
    border: none;
    background-color: white;
    border-radius: 0px;
    outline: none;
    padding: 2px;
    @include shadow-input;

    &:active, &:focus {
      outline: none;
    }
    option{
      &:active, &:focus, &:checked {
        @include select-hover();
      }
    }
  }

  .SelectMultiple {
    display: inline-block;
    padding: 2px;
    @include shadow-input;
    >select[multiple] {
      padding: 0px;
      box-shadow: none;
    }
    ::-webkit-scrollbar {
      display: none;
    }
  }

  $select-height: 16px;

  .Select {
    position: relative;
    .Select-control {
      width: 100%;
      .Select-multi-value-wrapper {
        .Select-input, .Select-placeholder, .Select-value{
          width: calc(100% - 4px);
        }
        .Select-input {
          display: none !important;
        }
        .Select-value, .Select-placeholder {
          height: $select-height;
          background-color: white;
          border: none;
          @include shadow-input;
          padding: 2px;
          .Select-value-label>div {
            margin: 1px;
            margin-right: $select-height + 1px;
            padding-left: 1px;
            outline: 1px dotted rgba(0,0,0,0);
          }
          &:active, &:focus {
            .Select-value-label>div {
              @include select-hover();
            }
          }
        }
        .Select-placeholder {
          .window--explorer & {
            padding: 4px 2px 1px;
          }
        }
      }
      .Select-arrow-zone {
        position: absolute;
        box-shadow: dualShadow($grey, $black), dualShadow(white, $darkgrey, 2);
        height: $select-height;
        width: $select-height;
        left: calc(100% - 18px);
        top: 2px;
        background-color: $grey;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url($arrow-down);
      }
      .Select-clear-zone {
        display: none;
      }
    }
    .Select-menu-outer {
      border: 1px solid black;
      background-color: white;
      .Select-menu {
        .Select-option {
          padding: 1px;
          &:hover {
            @include select-hover();
          }
          .is-focused {

          }
        }
      }
    }
    &.is-disabled {
      pointer-events: none;
      .Select-control{
        .Select-multi-value-wrapper {
          .Select-value, .Select-placeholder {
            background-color: $grey;
          }
        }
        .Select-arrow-zone {
          &:after {
            background-image: url($arrow-down-disabled);
          }
        }
      }
    }
  }

  .SelectBox {
    position: relative;
    width: 100%;
    background-color: white;
    padding: 2px;

    &:disabled, &.disabled {
      pointer-events: none;
      >div {

        overflow: hidden;
      }
      background-color: $grey;
      button {
        color: $darkgrey !important;
      }
      .icon {
        filter: grayscale(1);
      }
    }
    >div {
      position: relative;
      overflow: auto;
    }

    &:after {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      @include shadow-input;
      pointer-events: none;
      content: '';
    }

    button:not(.icon) {
      display: block;
      outline: none;
      background: transparent;
      border: none;
      white-space: nowrap;
      overflow: hidden;
      color: $black;
      width: 100%;
      text-align: left;
      &:after {
        content: attr(title);
        position: initial;
      }
      &.is-active {
        background-color: $blue;
        color: white;
        outline-offset: -1px;
        outline: 1px dotted white;
      }
    }

    &--ExplorerIcon {
      >div {
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
        padding-bottom: 20px;
        .explorer-icon {
          margin: 2px 8px;
        }
      }
    }
    .icon--list {
      margin: 0px;
      padding: 1px;

      .icon__text {
        width: initial;
      }

      &:focus:not(.is-active), &:active:not(.is-active) {

        .icon__text{
          background-color: transparent;
          color: $black;
          outline: none;
          outline-offset: -1px;
        }
      }
    }
  }
}
