@import '../var/colors';
@import '../mixins/box-shadows';
@import '../var/var';
@import '../var/uris';

$windowPadding: 3px;

@mixin onDisplay($direction: 'right') {
  >.window {
    position: absolute;
    visibility: hidden;
    width: auto;
    transition: max-width cubic-bezier(0.38, 0.01, 0, 1) 200ms,
    max-height cubic-bezier(0.38, 0.01, 0, 1) 200ms;
  }
  &.active {
    >.window {
      width: auto;
      visibility: visible;
    }
  }
  @if $direction  == 'right' {
    >.window {
      left: calc(100%  - 3px);
      top: -$windowPadding;
      max-width: 0%;
    }
    &:hover, &.active {
      >.window {
        max-width: 400%;
      }
    }
  } @else if $direction  == 'left' {
    >.window {
      left: -100%;
      top: -$windowPadding;
      max-width: 0%;
    }
    &:hover, &.active {
      >.window {
        max-width: 100%;
      }
    }
  } @else if $direction  == 'top' {
    >.window {
      bottom: calc(100% + $windowPadding);
      left: 0px;
      height: 0px;
      max-height: 0%;
      max-width: 100%;
    }
    &:hover, &.active {
      >.window {
        height: initial;
        max-height: 100%;
      }
    }
  } @else if $direction  == 'bottom' {
    >.window {
      top: calc(100% + $windowPadding);
      left: 0px;
      max-height: 0%;
      max-width: 100%;
    }
    &:hover, &.active {
      >.window {
        height: initial;
        max-height: 100%;
      }
    }
  }
}

.standard-menu {
  display: inline-flex;
  flex-direction: column;
  word-wrap: none;
  white-space: nowrap;
  text-overflow: clip;
  >div {
    position: relative;
    @include onDisplay('right');
    >button {
      position: relative;
      display: block;
      width: 100%;
      padding: 0px 20px 0px 20px;
      text-align: left;
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: 3px center;
      background-color: rgba(0,0,0,0);
      border: none;
      outline: none;
      height: 20px;
      &:before {
        content: '';
        position: absolute;
        left: 0px;
        top: 0px;
        height: 16px;
        width: 16px;
        background-repeat: no-repeat;
        background-position: center;
      }
      .standard-menu__item__text {
        padding: 0px 20px 0px 0px;
      }

      &:disabled, &.disabled {
        color: $darkgrey;
      }

      &:not(:only-child) {
        &:after {
          content: '';
          position: absolute;
          background-image: url($arrow-right);
          top: 0px;
          left: 0px;
          height: 100%;
          width: calc(100% - 8px);
          background-position: right center;
          background-repeat: no-repeat;
        }
      }
    }
    &.radio-selected {
      >button {
        &:before{
          background-image: url($menu-radio);
        }
      }
    }
    &.checked {
      >button:before {
        background-image: url($menu-checked);
      }
      &.disabled {
        >button:before {
          background-image: url($menu-checked-disabled);
        }
      }
    }
    &:hover, &:active, &:focus, &:active:focus, &.active, &.clicked {
      color: white;
      >button:not(.disabled) {
        color: white;
        background-color: $blue;
        &:not(:only-child) {
          &:after {
            background-image: url($arrow-right-inverted);
          }
        }
      }
    }
  }
  div:empty{
    position: relative;
    width: 95%;
    margin: 2px auto;
    border-top: 1px solid $darkgrey;
    border-bottom: 1px solid white;
    display: none;
  }
  :not(:empty) + div:empty {
    &:not(:last-child):not(:first-child) {
      display: block;
    }
  }
}

.standard-menu--css {
  div {
    &__sub-menu--top { @include onDisplay('top'); }
    &__sub-menu--bottom { @include onDisplay('bottom'); }
    &__sub-menu--left { @include onDisplay('left'); }

    &:active, .active {
      display: none;
    }

    &:hover {
      >.window {
        width: auto;
        visibility: visible;
        display: block;
      }
    }
  }
}
