@import '../var/colors';
@import '../mixins/box-shadows';
@import '../var/var';

input[type=text] {
  position: relative;
  padding: 3px 3px 6px 3px;
  font-size: $base-font-size;
  border: none;
  @include shadow-input;

  &:active, &:focus, &:active:focus, &.clicked {
    outline: none;
  }
  &:disabled, &.disabled {
    background-color: $grey;
  }
}
