@import '../var/uris';

.w98 {
  input[type=radio] {
    + label:before {
      background-image: url($radio-off);
    }
    &:checked {
      + label {
        &:before {
          background-image: url($radio-on);
        }
      }
    }
    &:disabled, &.disabled {
      + label:before {
        background-image: url($radio-off-disabled);
      }
      &:checked {
        + label {
          &:before {
            background-image: url($radio-on-disabled);
          }
        }
      }
    }
  }
}
