@import '../var/colors';

input[type=checkbox], input[type=radio] {
  opacity: 0;
  display: none;
  cursor: pointer;
  + label {
    position: relative;
    padding: 1px 0px;
    padding-left: 16px;
    >span, >div {
      display: inline-block;
      border: 1px solid rgba(0,0,0,0);
    }
    &:before {
      content: '';
      position: absolute;
      left: 0px;
      top: 1px;
      width: 20px;
      height: 12px;
      background-repeat: no-repeat;
    }
  }
  &:checked {
    + label {
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
    }
    &:active, &:focus, &:active:focus, &.active, &.clicked {
      + label {
        >span, >div {
          border: 1px dotted black;
        }
      }
    }
  }
  &:disabled, &.disabled {
    +label {
      color: $darkgrey;
    }
  }
}
