@import '../../_scss/w98/var/colors';
@import '../../_scss/w98/functions/box-shadows';
@import '../../_scss/w98/mixins/box-shadows';
@import '../../_scss/w98/var/var';

@function nav-box-shadow(){
  @return 0px 1px 0px white, inset 0px -1px 0px $darkgrey,
  -1px 0px 0px $darkgrey, inset 1px 0px 0px white,
    1px 0px 0px white, inset -1px 0px 0px $darkgrey;
}

.w98 .window--explorer {
  &__view {
    min-height: 20px;
    margin: 2px auto 1px;
    background-color: white;
    @include shadow-input;
  }
  &__details {
    display: flex;
    &__section {
      box-shadow: inset -1px -1px 0px white, inset 1px 1px 0px $darkgrey;
      flex-grow: 1;
      margin-top: 2px;
      height: 16px;

      &:not(:last-child) {
        margin: 2px;
      }
    }
  }

  .menu-bar {
    padding: 2px 1px 2px 12px;
  }
  >div + menu {
    margin-top: 2px;
    box-shadow: nav-box-shadow(),
      -1px -1px 0px $darkgrey, 0px -1px 0px $darkgrey,
      inset 0px 1px 0px white, 1px -1px 0px white;
  }
  >menu {
    position: relative;

    min-height: 16px;
    padding-left: 12px;
    margin: 0px 1px;
    display: flex;
    // border-bottom: 1px solid $darkgrey;
    // border-top: 1px solid white;
    box-shadow: nav-box-shadow();
    // box-shadow: -1px 0px 0px $darkgrey, inset 1px 0px 0px white,
    //   inset -1px 0px 0px $darkgrey, 1px 0px 0px white;
    &:before {
      position: absolute;
      top: 3px;
      left: 5px;
      height: calc(100% - 6px);
      width: 3px;
      background-color: $grey;
      content: '';
      box-shadow: dualShadow(white, $darkgrey);
    }
  }
  >footer {
    display: flex;
    >div {
      flex-grow: 1;
      padding: 2px 4px;
      box-shadow: dualShadow($black, white);
      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }
  &__address {
    display: flex;
    height: 22px;
    overflow-y: visible;
    &__title {
      align-self: center;
      margin-right: 4px;
      padding-bottom: 2px;
    }
    .Select {
      flex-grow: 1;
      z-index: 5;
      margin-right: 4px;
      margin-top: 1px;
    }
  }
  &__options {
    display: flex;
    padding: 2px 4px 2px 12px;
  }
  >div:last-child {
    margin-top: 2px;
  }
}
