@import '../var/colors';
@import '../functions/box-shadows';

.btn.btn--nav{
  padding: 0px;
  min-width: initial;
  width: 16px;
  height: 14px;
  margin-left: 1px;
  margin-top: 1px;
  margin-bottom: 2px;
  image-rendering: pixelated;
  box-shadow: dualShadow(white, $black), dualShadow($grey, $darkgrey, 2);

  img {
    height: 14px;
    width: 14px;
  }

  &:focus {
    outline: none;
    border: none;
  }

  &:active:focus, &.clicked {
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 8px;
    box-shadow: dualShadow($black, white), dualShadow($darkgrey, $grey, 2);
  }
  &.window__close {
    margin-left: 2px;
  }
}
