@import '../var/colors';
@import '../functions/box-shadows';

$start: 'data:image/gif;base64,R0lGODlhNAATAKIAAAAAAP///wAA/wD/AP//AP8AAP///wAAACH5BAEAAAYALAAAAAA0ABMAAAOPaLrc/jDKSaudIIPLu95dKH2fGIKLVmSDxpTms83qCgwtmik7j46/BglQsOF6BuQrCFEuCkLiJ5diJnswl6sB7dqGSpjPscNaFcWiRpAhbKPVqhbkVAiiAjaA4LYizWOADneEenltfXFXioCCD3mHAHptYW9jV3OKL1FgZzEySZiVnp8yYkKlFyRNqa2uEgkAOw==';

.btn.btn--start{
  height: 22px;
  display: flex;
  align-content: center;
  width: 54px;
  padding-right: 6px;
  background-image: url($start);
  background-size: auto 18px;
  background-repeat: no-repeat;
  background-position: 2px 1px;


  &__text {
    font-size: 1rem;
    font-weight: bold;
  }

  box-shadow: dualShadow(white, $black), dualShadow($grey, $darkgrey, 2);

  &:active, &:focus, &:active:focus, &.active, &.clicked {
    box-shadow: dualShadow($black, white),
      shadow($black, 0, 1), dualShadow($darkgrey, $grey, 2),
      0px -1px 0px $black;
    background-position: 3px 2px;
    outline: 1px dotted black;
    outline-offset: -4px;
  }
}
