.icon.icon--list {
  height: 18px;
  margin: 2px;
  text-align: left;
  display: flex;
  align-items: center;

  .icon__icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 2px;
  }

  .icon__text {
    position: relative;
    padding: 2px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(100% - 20px);
    padding-bottom: 3px;
  }

  &:focus, &:active, &:active:focus, &.active, &.clicked {
    .icon__text{
      max-height: initial;
    }
  }
}
