.icon.icon--explorer {
  width: 58px;
  height: 70px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .icon__icon {
    width: 42px;
    height: 42px;
    margin: 0 auto;
  }

  .icon__text {
    position: absolute;
    top: 45px;
    left: 0px;
    max-height: 24px;
    width: 100%;
    overflow-y: hidden;
    display: inline-block;
  }

  &:focus, &:active, &:active:focus, &.active, &.clicked {
    .icon__text{
      max-height: initial;
    }
  }
}
